* {
  padding: 0;
  margin: 0;
  outline: none;
  font-family: "Kulim Park", sans-serif;
}
.canvas {
  box-sizing: border-box;
  display: block;
  margin: 0 auto;
  border: 2px solid #999999;
  background-color: #F0F0F0;
  background: radial-gradient(circle, #F0F0F0, #AAAAAA);
  overflow: hidden;
}
.start-overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  transition: opacity 500ms ease-in-out;
  opacity: 0;
}

.start-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 150px;
  border: 4px solid #666666;
  border-radius: 20px;
  background-color: #00000000;
  font-weight: 600;
  letter-spacing: 2px;
  transition: all 300ms linear;
  user-select: none;
  cursor: pointer;
  color: #000000;
}

.start-btn:hover {
  box-shadow: 0 0 20px #000000;
  color: #FFFFFF;
  background-color: #24243e;  
}

.start-text {
  font-size: 1.2em;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #da22ff88;
}

input, select {
  font-family: "Kulim Park", sans-serif;
  font-size: 1.1em;
  padding: 10px 10px;
  width: 50%;
  box-sizing: border-box;
  margin-bottom: 20px;
  background-color: transparent;
  border: 2px solid #444444;
  color: #da22ff;
  font-weight: 600;
  letter-spacing: 1px;
  transition: all 500ms ease-in-out;
  border-radius: 40px;
}

input:focus, select:focus {
  width: 100%;
  background-color: #FFFFFF;
  border-radius: 0;
}

select.not-bigger:focus {
  width: 50%;
}

h1 {
  background: -webkit-linear-gradient(#da22ff, #9733ee);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

ol li {
  margin: 20px 0;
}
ol {
  margin-top: 10px;
  padding: 0 80px;
  box-sizing: border-box;
}